@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LandingPage</title>
</head>
<body>
    <div>
        <div>
            INPUT WELCOME PAGE AND LOGIN LATER
            FIX/RENAME VIEWS AND CONTROLLERS
            HIRE ISAAC FOR LOGO
            Properly name files/projects
        </div>
        <a asp-action="InputPage">Click to Continue</a>
    </div>
</body>
</html>